{% trans_default_domain 'app' %}

{% set translatable = translation_translatable(page) %}
{% set locale = translation_locale(app.request.get('_locale')|default('fr')) %}
{% set name = translation(translatable, locale, 'name')|default(page.name) %}
{% set content = translation(translatable, locale, 'content')|default(page.content) %}
{% set slug = translation(translatable, locale, 'slug')|default(page.slug) %}

{% set director = expertise_staffs_by_tag('director')[0] %}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ name|upper }} {% endblock %}

{% block section %}
	<section class="page_breadcrumbs cs gradient2 parallax section_padding_top_50 section_padding_bottom_50">
        <div class="container" style="padding-bottom: 10px;padding-top:10px">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="text-white">{{ name|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
	<section class="telecha_section">
		<div class="container">
			<div class="row">
	            <div class="container col-md-8 col-md-offset-2 text-center">
	            	{{ content|raw }}
				</div>
			</div>
		</div>                             
	</section>
{% endblock %}