{% if menuItem.page is not empty %}
    {% set translatable = translation_translatable(menuItem.page) %}
    {% set locale = translation_locale(app.request.get('_locale')|default('fr')) %}
    {% set path = url('app_static_page', {'slug' : translation(translatable, locale, 'slug')|default(menuItem.page.slug)}) %}
{% else %}
    {% set path = "#" %}
{% endif %}
<li>
    {% set translatable = translation_translatable(menuItem) %}
    {% set locale = translation_locale(app.request.get('_locale')|default('fr')) %}
    {% set name = translation(translatable, locale, 'name')|default(menuItem.name) %}
    
    <a href="{{ path }}">{{ name|upper }}</a>
    {% if childs is not empty %}
        <ul>
            {% for child in childs %}
                {{ render(controller("AppBundle:Helper:menuItem", {'id': child.id})) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>