.blocF{
    background-color: #62CAF8;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    display: flex;
    width: 350px;
    height: fit-content;
    justify-content: space-around;
}
.blocF:hover{
    cursor: pointer;
    -webkit-box-shadow: 21px 10px 20px -12px rgba(0,0,0,0.43);
    -moz-box-shadow: 21px 10px 20px -12px rgba(0,0,0,0.43);
    box-shadow: 21px 10px 20px -12px rgba(0,0,0,0.43);
    transition: all 0.2s linear 0s;
}
.img_blocF{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}
.img_blocF:hover{
    border: solid #000099 5px;
    transition: all 0.2s linear 0s;
}
.text_blocF{
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .blocF{
        width: 95%;
    }
}
.defile-shadow {
  box-shadow: 0px 5px 5px grey;
  border-radius: 10%;
}
.owl-carousel .owl-stage-outer {
  overflow: inherit !important;
}
.hoversel .title {
    font-weight: bolder;
    font-size: 15px;
    color: black;
    padding: 8px;
    cursor: default;
    -webkit-transition: border 300ms, border-radius 300ms, padding-left 700ms;
    transition: border 300ms, border-radius 300ms, padding-left 700ms;
}
.hoversel .active {
    color: white;
    background: #023f88;
    font-weight: bolder;
    font-size: 15px;
    padding: 8px;
    border-radius: 0px 7px;
}
.hoversel-content .content {
  display: none;
}
.hoversel-content .active {
  display: block;
}
.user-comment {
  content: "\f007";
}
.commentaire {
  border: 1px solid grey;
  border-radius: 0 12px;
  padding: 5px;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}
table.dataTable thead > tr > th {
    background: #16c1f3;
}
select {
  padding-top: 0px !important;
}
.sf-menu li > ul {
  margin-top: 0px !important;
}
